:root {
  font-size: 20px;
  --foreground-rgb: 220, 220, 220;
}

::selection {
  color: rgb(0, 255, 221);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(20 21 21);
  overflow-x: hidden;
}

summary {
  cursor: pointer;
  display: block;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: contents;
}

.col {
  flex-direction: column;
}

.alert-item {
  position: absolute;
  top: 20%;
  max-width: 20em;
  left: 0;
  margin: auto;
  right: 0;
}

*::-webkit-scrollbar {
  width: 0.35em;

}

*::-webkit-scrollbar-track {
  border-radius: .7em;
  background: rgb(var(--background-start-rgb));
}

*::-webkit-scrollbar-thumb {
  border-radius: .7em;
  background: rgb(var(--foreground-rgb));
}

.play {
  background-color: rgb(78 78 78);
  padding: .5em;
  border-radius: .25em;
}

.play main {
  display: flex;
  flex-direction: column;
}

.play hr {
  margin: 10px;
}
.alert-item-group .alert-item{
  position: relative;
}
.alert-item-group {
  position: fixed;
  top: 10%;
  margin: auto;
  left: 0;
  display: flex;
  right: 0;
  flex-direction: column;
}